main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.box {
  &__road {
    width: 100vw;
    height: 2px;
    border-top: 2px solid black;
  }
  &__car {
    width: 70px;
    height: 70px;
    padding: 0px;
    margin-bottom: -18px;
  }

  // &__start {
  //   background: green;
  // }
}

.backgroud-default {
  background: none;
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(90vw);
  }
}

.garage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
